extends layout

block content
  h1= title
  - let flights  = results;
  div(class="container-fluid mt-3")
    div(class="row m-1")
      each flight,index in flights
        - let destination = `dispatch(\"/flights/update?id=${flight._id}\")` 
        div(class="col-sm-4" onclick=`buy(${index})`) #{flight.flightType} - #{flight.price} - #{flight.capacity}
        button.btn( class="btn-primary ml-1", onclick= destination) Update 
    
    script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
      function dispatch(path){ 
      window.location.href=path 
      } 